.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container > * {
    margin-bottom: 10px;
}

.user__input {
    padding: 10px;
    width: 50%;
}

.home__btn {
    max-width: 200px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    
}